<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="row banner">
        <div class="col-sm" id="col-banner">
        </div>
        <div class="ebiza-logo">
          <a href="./index.html" id="logo-target"></a>
        </div>
        <div class="banner-title">
          <div class="banner-subtitle">
            <p>Pare de gastar dinheiro com o que não traz resultados ao seu negócio</p>
            <a class="btn free-analysis">Fazer avaliação gratuita</a>
          </div>
        </div>
        <div class="social-medias-banner">
          <a href="" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="" target="_blank"><i class="fab fa-whatsapp"></i></a>
          <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

      <div class="row main-menu">
        <div class="col-sm">
          <nav class="navbar navbar-expand-sm bg-dark">
            <div class="container-fluid">
              <button 
                class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
              >
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./index.html">INÍCIO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./index.html#what-we-do">O QUE FAZEMOS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./services.html">SERVIÇOS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./index.html#clients-title">CLIENTES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./contacts.html">CONTATO</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <footer class="text-center text-lg-start footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <h5>Ebiza - Gestão de Tráfego</h5>
              <p>Somos a Ebiza, uma empresa que visa a captação de clientes para seu 
                negócio local por meio de ferramentas e estratégias avançadas de Marketing 
                Digital.
              </p>
              <ul class="list-unstyled social-medias">
                <li><a href="https://encurtador.com.br/grJR3" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://bit.ly/3gzSp87" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/ebizagestaodetrafego/?hl=pt-br" target="_blank"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
            <div class="col-sm">
              <h5>Serviços</h5>
              <ul class="list-group list-unstyled">
                <li><i class="fas fa-check"></i>Facebook Ads</li>
                <li><i class="fas fa-check"></i>Relatórios de desempenho</li>
                <li><i class="fas fa-check"></i>Consultoria</li>
              </ul>
            </div>
            <div class="col-sm">
              <h5>Informações de contato</h5>
              <ul class="list-group list-unstyled">
                <li><i class="fab fa-whatsapp"></i>(61) 99821-0928</li>
                <li><i class="fas fa-envelope"></i>ebizagestaodetrafego@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="text-center p-3 footer-developer-info">
          ©<span id="footer-year">2021</span> Copyright - Desenvolvido por 
          <a href="https://www.facebook.com/maiconlucas.mares/" target="_blank">Maicon Mares</a>
        </div>
      </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous" defer></script>
    <% for (key in htmlWebpackPlugin.files.js) { %>
      <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[key] %>" defer></script>
    <%  } %>
  </body>
</html>